 @import 'w3';

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.largeTitle {
  font-size: 3em;
  font-weight: 700;
  color: #ff0420;
}
.middleTitle {
  font-size: 1.5em;
  font-weight: 700;
}

.text {
  font-size: 1em;
  font-weight: 400;
  // color: #ff0420;
}